/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/


/*
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
:root {
    --clr-primary: #6d7fcc;
    --clr-val-primary: 109, 127, 204;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--clr-primary) rgba(var(--clr-val-primary), 0.6);
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgba(var(--clr-val-primary), 0.6);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);
    border-radius: 10px;
    border: 2px solid rgba(var(--clr-val-primary), 0.6);
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.sidebar.active {
    margin-left: -250px;
}

.sidebar ul.components h2 {
    text-align: left;
    font-size: 1.2em;
    padding: 6px;
    border-bottom: 1px solid #47748b;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.navbar-brand {
    text-align: center;
    font-size: 1.3em;
}

.navbar-brand>sub {
    display: block;
    padding-top: .8em;
    font-size: 0.35em;
    text-rendering: geometricPrecision;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--clr-primary);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar {
    /* don't forget to add all the previously mentioned styles here too */


/*
background: #7386D5;
color: #fff;
transition: all 0.3s;

}
.sidebar .sidebar-header {
    padding: 20px;
    background: var(--clr-primary);
}
.sidebar ul.components {
    padding: 20px 0;
}
.sidebar ul p {
    color: #fff;
    padding: 10px;
}
.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
.sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--clr-primary);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--clr-primary);
}
.content {
    flex: 50%;
    padding-top: 20px;
}
.content h1,
.content p {
    text-align: center;
}
.box {
    display: block;
    width: 50%;
    border: 1px solid var(--clr-primary);
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    box-shadow: 3px 3px 8px rgba(var(--clr-val-primary), 0.8), inset 2px 2px 5px rgba(var(--clr-val-primary), 0.6);
    border-radius: 3px;
}
.box header {
    font-size: 1.6em;
    border-bottom: 1px solid var(--clr-primary);
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 4px;
}
.box.scroll .content {
    padding: 5px 8px;
    max-height: 50vh;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}
*/

body {
    background: rgba(28, 28, 28, 1);
    color: white;
    font-size: 12px;
    --clr-primary: 5, 202, 182;
}

.wrapper,
.main-content {
    padding: 0!important;
    width: 100%;
    overflow-x: hidden;
}

.outline-block {
    border: 2px dotted lightgray;
}

.outline-block:hover {
    border: 2px dotted orange;
}

.block-section {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.block-section.img-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.block-section.block-header {
    text-align: center;
    background-image: url(./img/darkwave.jpg);
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.block-section.block-header h1 {
    font-size: 96px;
}

.block-section.block-header sub {
    color: rgb(178, 178, 178);
    font-size: 1.8em;
    margin-top: 50px;
    margin-bottom: 90px;
    display: block;
}

.briz-col {
    margin-top: 10vh;
    font-size: 25px;
}

.briz-col * {
    padding: 5px 8px;
    font-weight: 600;
}

.briz-col .col sub {
    font-size: 14px;
    margin: 0 auto 15px auto;
    font-weight: 400;
    color: lightgray;
}

.briz-col.briz-primary>* {
    background: rgba(var(--clr-primary), 0.75);
    color: black;
    border-right: 1px solid black;
}

.briz-col.briz-primary header {
    font-size: 0.6em;
}

.briz-col *:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.briz-col *:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: none;
}

.block-intro {
    font-size: 1.2em;
}

.block-intro i {
    font-size: 4.8em;
    color: rgba(var(--clr-primary), 0.75);
    margin: 8px;
}

.block-intro sub {
    font-size: 1.8em;
    line-height: 1.2;
}

.block-get-it,
.block-linking-nodes {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.3)), url(./img/wall.jpg);
    font-size: 20px;
}

.block-get-it h1 {
    text-align: center;
    padding: 20px 0;
}

.block-get-it h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.6em;
}

.fa-check-circle::before {
    color: rgb(5, 202, 182);
}

.fa-minus-circle::before {
    color: rgba(255, 230, 0, 1);
}

.fa-times-circle::before {
    color: red;
}

li.fas::before,
.block-project-timeline li::before {
    margin-right: 20px;
    font-size: 2.4em;
}

li.fas {
    display: block;
    padding: 8px 5px;
}

.block-node-options {
    text-align: center;
}

.block-node-options li {
    text-align: left;
}

.block-node-options sub {
    font-size: 1.4em;
}

.block-node-options .row {
    margin-top: 20px;
}

.outline-primary {
    border: 1px solid rgba(var(--clr-primary), 0.75);
    border-radius: 5px;
}

.fade-box {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    padding-bottom: 25px;
}

.fade-box>header {
    text-align: center;
}

.fade-box>header>i {
    background: rgb(var(--clr-primary));
    padding: 20px;
    margin-top: -45px;
    border-radius: 50px;
    font-size: 2.4em;
    color: black;
}

.fade-box>h1,
.fade-box>p,
.block-project-timeline>h1 {
    text-align: center;
    padding: 12px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.icon-big {
    color: rgb(var(--clr-primary));
    font-size: 150px;
    padding: 10vh 10vw;
}

.block-project-timeline ul>li::before {
    margin: -50px;
    font-size: 35px;
    color: rgb(var(--clr-primary));
    padding: 0 30 0 0;
    position: relative;
    bottom: -30px;
}

.block-project-timeline ul>li {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

.block-project-timeline ul>li header {
    font-weight: 800;
}

.block-project-timeline ul>li p {
    font-weight: 300;
    font-size: 14px;
    padding-top: 3px;
}

.block-project-timeline ul>li header>span {
    color: rgb(var(--clr-primary));
}

.block-team {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.3)), url(./img/desktech.jpg);
}

.block-team h1 {
    text-align: center;
}

.block-team header {
    font-size: 20px;
    font-weight: 800;
}

.block-team sub {
    font-size: 18px;
}