/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/

:root {
    --clr-bg: 28, 28, 28;
    --clr-primary: 5, 202, 182;
    --ff-primary: "Roboto", Sans-serif;
    --ff-accent: "Playfair Display", serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.6;
    background: rgb(var(--clr-bg));
    color: white;
    font-size: 12px;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

.wrapper,
.main-content {
    padding: 0!important;
    width: 100%;
    overflow-x: hidden;
}

.outline-block {
    border: 2px dotted lightgray;
}

.outline-block:hover {
    border: 2px dotted orange;
}

.block-section {
    padding: 3rem 0;
}

.block-section.img-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.block-section.block-header {
    text-align: center;
    background-image: url(./img/darkwave.jpg);
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.block-section.block-header h1 {
    font-size: 96px;
}

.block-section.block-header sub {
    color: rgb(178, 178, 178);
    font-size: 1.8em;
    margin-top: 50px;
    margin-bottom: 90px;
    display: block;
}

.briz-col {
    margin-top: 10vh;
    font-size: 25px;
}

.briz-col * {
    padding: 5px 8px;
    font-weight: 600;
}

.briz-col .col sub {
    font-size: 14px;
    margin: 0 auto 15px auto;
    font-weight: 400;
    color: lightgray;
}

.briz-col.briz-primary>* {
    background: rgba(var(--clr-primary), 0.75);
    color: black;
    border-right: 1px solid black;
}

.briz-col.briz-primary header {
    font-size: 0.6em;
}

.briz-col *:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.briz-col *:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: none;
}

.block-section.block-header:nth-child(1) .briz-col {
    margin-top: 8px;
}

.block-intro {
    font-size: 1.2em;
}

.block-intro i {
    font-size: 4.8em;
    color: rgba(var(--clr-primary), 0.75);
    margin: 8px;
}

.block-intro sub {
    font-size: 1.8em;
    line-height: 1.2;
}

.block-get-it,
.block-linking-nodes {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.3)), url(./img/wall.jpg);
    font-size: 20px;
}

.block-get-it h1 {
    text-align: center;
    padding: 20px 0;
}

.block-get-it h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.6em;
}

.fa-check-circle::before {
    color: rgb(5, 202, 182);
}

.fa-minus-circle::before {
    color: rgba(255, 230, 0, 1);
}

.fa-times-circle::before {
    color: red;
}

li.fas::before,
.block-project-timeline li::before {
    margin-right: 20px;
    margin-bottom: -10px;
    font-size: 2.4em;
}

li.fas {
    display: block;
    padding: 8px 5px;
}

.block-node-options {
    text-align: center;
}

.block-node-options li {
    text-align: left;
}

.block-node-options sub {
    font-size: 1.4em;
}

.block-node-options .row {
    margin-top: 20px;
}

.outline-primary {
    border: 1px solid rgba(var(--clr-primary), 0.75);
    border-radius: 5px;
}

.fade-box {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    padding-bottom: 25px;
}

.fade-box>header {
    text-align: center;
}

.fade-box>header>i {
    background: rgb(var(--clr-primary));
    padding: 20px;
    margin-top: -45px;
    border-radius: 50px;
    font-size: 2.4em;
    color: black;
}

.fade-box>h1,
.fade-box>p,
.block-project-timeline>h1 {
    text-align: center;
    padding: 12px;
    width: min(50%, 70.5rem);
    margin-inline: auto;
}

.icon-big {
    color: rgb(var(--clr-primary));
    font-size: 150px;
    padding: 10vh 10vw;
}

.block-project-timeline ul>li::before {
    margin: -50px;
    font-size: 35px;
    color: rgb(var(--clr-primary));
    padding: 0 30 0 0;
    position: relative;
    bottom: -30px;
}

.block-project-timeline ul>li {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

.block-project-timeline ul>li header {
    font-weight: 800;
}

.block-project-timeline ul>li p {
    font-weight: 300;
    font-size: 14px;
    padding-top: 3px;
}

.block-project-timeline ul>li header>span {
    color: rgb(var(--clr-primary));
}

.block-team {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.3)), url(./img/desktech.jpg);
}

.block-team .card {
    color: black;
    margin: 4px;
}

.block-team .card .card-img-top {
    display: block;
    max-height: 280px;
    overflow: hidden;
    object-fit: cover;
    object-position: -20% 0;
}

.block-team .card-text {
    font-size: 1.6em;
}

.block-team h1 {
    text-align: center;
}

.block-team header {
    font-size: 20px;
    font-weight: 800;
}

.block-team sub {
    font-size: 18px;
}

.block-section>header {
    background: lightgray;
    color: black;
    font-size: 2.4em;
    font-weight: 600;
}